/**
Info #00C0EF
Info:hover #0099bf
Success #00A65A
Success:hover #008D4C
Warning #F39C12
Warning:hover  #DB8B0B
Danger #DD4B39
Danger:hover #D33724
**/
body{font-family:"Helvetica";}
div.clear {clear: both;}
.valores {text-align:center;padding:10px;font-size:2.99em;}
.etiqueta {text-align:center;padding:1px;font-size:1.5em;}
.etiquetaFecha {text-align:center;padding:1px;font-size:1.0em;}
.profile-img1
{

    height: 25px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-img2
{

    height: 90px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
